@CHARSET "UTF-8";

body {
	background: url(../img/bg.png);
}

/*
#lista {
	background-color: silver;
}
*/

.k-input {
	background: #F5F5F5;
	margin-bottom: 20px;
	padding: 9px 10px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
	border-color: #B8B8B8 #EBEBEB #EBEBEB #B8B8B8;
	font: 15px Helvetica, Arial, Sans-serif;
	-moz-box-shadow:inset 0 3px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, .1);
    width: 475px;
}

.k-input[readonly] {
	background: #CBCBCB;
}

.required {
	color: #046416;
}

label {
	display: block;
    font-family: "MerriweatherBold", Serif;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 5px 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

label.header {
	display: block;
    font-family: "MerriweatherBold", Serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 5px 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

.k-button {
	height: 38px;
	margin: 5px 0;
	background: #1F8532 url(../img/btn-bg.png);
    border: 1px solid #066a19;
    font-family: "MerriweatherBold", Georgia, Serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);

    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #28a441;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #28a441;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #28a441;
}

.k-button[disabled] {
	background: #808080 url(../img/btn-bg-disabled.png);
	border: 1px solid #AAAAAA;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #646464;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #646464;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #646464;
}

.s-button {
	height: 20px;
	margin: 5px 0;
	background: #1F8532 url(../img/btn-bg.png);
    border: 1px solid #066a19;
    font-family: "MerriweatherBold", Georgia, Serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);

    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #28a441;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #28a441;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #28a441;
}

.frame {
	width: 800px;
    background: url(../img/form-bg.png);
    margin: 35px 0 25px 0;
    padding: 20px 40px 50px 40px;
    margin-left: auto;
    margin-right: auto;
}

.frame_personal {
	width: 600px;
    background: url(../img/form-bg.png);
    margin: 35px 0 25px 0;
    padding: 20px 40px 50px 40px;
    margin-left: auto;
    margin-right: auto;
}

.title {
	cursor: default;
	font-family: "MerriweatherBold", Serif;
    font-size: 18.5px;
	color: #046416;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

table {
	display: block;
    font-family: "MerriweatherBold", Serif;
    font-size: 15px;
    margin-bottom: 20px;
}

table thead tr {
	cursor: default;
	font-family: "MerriweatherBold", Serif;
	color: #046416;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

table tbody tr.odd {
	background-color: #E8E8E8;
	color: black;
}

table tbody tr.even {
	background-color: white;
}

.logo_container {
	width: 475px;
	height: 50px;
}

.logo_img {
	float:left;
	margin-right: 10px;
}

.logo_text {
	width: 145px;
	font-size: 12px;
}

.footer_container {
	width: 475px;
	color: rgb(128,128,128);
}

.subpage_footer_container {
	color: rgb(128,128,128);
}

.errorblock {
		color: #ff0000;
		background-color: #ffEEEE;
		border: 3px solid #ff0000;
		padding: 8px;
		margin: 16px;
		width: 440px;
	}
	
.guest{
	float:right;
}
	
/* unvisited link */
a:link {
	color:#1F8532;
	text-decoration:none;
	display: inline-block;
	padding-top:10px;
	text-align:center;
}

/* visited link */
a:visited {
	color:#1F8532;
	text-decoration:none;
	display: inline-block;
	padding-top:10px;
	text-align:center;
}

/* mouse over link */
a:hover {
	color:#1F8532;
	text-decoration:none;
	display: inline-block;
	padding-top:10px;
	text-align:center;
}

/* selected link */
a:active {
	color:#404040;
	text-decoration:none;
	display: inline-block;
	padding-top:10px;
	text-align:center;
}

#welcome_header {
	float: left;
}

.username {
	margin-left: 100px;
	float: left;
	margin-right: 100px;
}

